In [5]:
import pandas as pd
import numpy as np

In [13]:
sample = pd.DataFrame(['13:00 - 14:00, 18:00 - 19:00','15:00-16:00','b,c,d,e,f','d,e,f','a,b,c,d','c,d,e,f','e,f'], columns=['複数回答'])
sample

                           複数回答
0  13:00 - 14:00, 18:00 - 19:00
1                   15:00-16:00
2                     b,c,d,e,f
3                         d,e,f
4                       a,b,c,d
5                       c,d,e,f
6                           e,f

In [14]:
# 複数回答データを','で分割して、１つのリストにまとめる
ans = [sample['複数回答'][i].split(',') for i in range(len(sample))]

# リストのflattening
ans_ = []
for s in ans:
    ans_.extend(s)

# 重複を除きユニークな回答選択肢を取得
ans_ = np.unique(ans_)

In [15]:
[ans_[0] in sample['複数回答'][i] for i in range(sample.shape[0])]

[True, False, False, False, False, False, False]

In [22]:
dummy = []
for j in range(len(ans_)):
    dummy.append([ans_[j] in sample['複数回答'][i] for i in range(sample.shape[0])])

dummy = pd.DataFrame(dummy, index=ans_).T

s = pd.concat([sample, dummy*1], axis=1)

In [27]:
s.ix[:,['13:00 - 14:00','15:00-16:00',' 18:00 - 19:00', 'a','b','c','d','e',  '複数回答']]

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

,13:00 - 14:00,15:00-16:00,18:00 - 19:00,a,b,c,d,e,複数回答
0,1,0,1,0,0,0,0,0,"13:00 - 14:00, 18:00 - 19:00"
1,0,1,0,0,0,0,0,0,15:00-16:00
2,0,0,0,0,1,1,1,1,"b,c,d,e,f"
3,0,0,0,0,0,0,1,1,"d,e,f"
4,0,0,0,1,1,1,1,0,"a,b,c,d"
5,0,0,0,0,0,1,1,1,"c,d,e,f"
6,0,0,0,0,0,0,0,1,"e,f"

### 参考
https://qiita.com/takubb/items/f72d2c6832821b29d473